@import url("classic.css");
a tt {
    font-weight: normal;
}

body {
    background-color: rgb(237, 236, 231);
    max-width: 1000px;
    margin-left: auto;
    margin-right: auto;
}

div.related, div.document {
    border-radius: 3px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    width: 100%;
    margin: 15px 0px;
}

div.related ul {
    padding: 10px 20px;
}

div.related:first-child {
    border-bottom: 0;
}

div.sphinxsidebar {
    background-color: #eeeeee;
    border-radius: 5px;
    line-height: 130%;
    font-size: smaller;
    position: relative;
}
div.sphinxsidebarwrapper {
    position: relative;
}
div.sphinxsidebar h3, div.sphinxsidebar h4 {
    margin-top: 1.5em;
}
div.sphinxsidebarwrapper h3:first-child {
    margin-top: 0.2em;
}

div.sphinxsidebarwrapper > ul > li > ul > li {
    margin-bottom: 0.4em;
}

div.sphinxsidebar a:hover {
    color: #0095C4;
}

div.sphinxsidebar input {
    font-family: 'Lucida Grande',Arial,sans-serif;
    border: 1px solid #999999;
    font-size: smaller;
    border-radius: 3px;
}

div.sphinxsidebar input[type=text] {
    max-width: 150px;
}


div.body {
    max-width: unset;
}

div.body a.headerlink {
    color: #bfd0e6;
}

div.body {
    color: #2e3436;
    background-color: transparent;
    padding: 15px 20px 30px 20px;
}

div.body img {
    box-shadow: none;
}

div.body p {
    line-height: 140%;
}

div.body p, div.body dd, div.body li {
    text-align: left;
}

div.body h1, div.body h2, div.body h3, div.body h4, div.body h5, div.body h6 {
    margin: 0;
    border: 0;
    padding: 0.3em 0;
}

div.body hr {
    border: 0;
    background-color: #ccc;
    height: 1px;
}

div.body pre {
    background-color: #fbf6e6;
}

div.body div.admonition, div.body div.impl-detail {
    border-radius: 3px;
}

div.body div.impl-detail > p {
    margin: 0;
}

div.body div.seealso {
    border: 1px solid #dddd66;
}

div.body a {
    color: #204a87;
}

div.body a:visited {
    color: #204a87;
}

div.body a:hover {
    color: #00B0E4;
}

div.body > div.section > div.section {
    margin-top: 2em;
    border-top: 1px solid #d5d3c9;
}

div.body .section:target > h1,
div.body .section:target > h2,
div.body .section:target > h3,
div.body .section:target > h4,
div.body .section:target > h5,
dt:target,
p:target,
div.body span:target + h1,
div.body span:target + h2,
div.body span:target + h3,
div.body span:target + h4,
div.body span:target + h5 {
    color: #000;
    background: #d5ecd7;
    border-radius: 4px;
    padding-left: 10px;
}

div.body span:target + h5 {
    background: #e6ddba;
}

p:target {
    margin-left: inherit;
}

tt, pre {
    font-family: Monospace,sans-serif;
    font-size: 96.5%;
}

div.body tt {
    border-radius: 3px;
}
div.body code.descname, div.body tt.descname {
    font-size: 100%;
    /*font-weight: bold;*/
    color: #2e3436;
}

div.body code.descclassname {
    font-weight: normal;
}

div.body span:target + h5 {
    background: #e6ddba;
    text-shadow: none;
}

h1 code,
h2 code,
h3 code,
h4 code,
h5 code {
    font-weight: normal;
}

div.body tt.xref, div.body a tt {
    font-weight: normal;
}

.deprecated {
    border-radius: 3px;
}

pre, table {
    text-shadow: 1px 1px 1px rgba(221, 221, 221, 0.6);
    box-shadow: 0px 0px 2px rgba(225, 225, 220, 0.6);
}

table.docutils {
    min-width: 20%;
    border-radius: 3px;
    margin-top: 10px;
    margin-bottom: 10px;
    box-shadow: none !important;
}

table.docutils td, table.docutils th {
    border-radius: 0px;
    border: 1px solid #ddd;
    background-color: #fff;
}

table p, table li {
    text-align: left;
}
table td p:last-child {
    margin-bottom: 0;
}

table.docutils th {
    background-color: #fff;
}

table.docutils td {
    background-color: white;
    padding: 0.3em 0.5em;
}

table.footnote, table.footnote td {
    border: 0;
}

table.field-list th, table.field-list td {
    background-color: white;
    display: block;
    margin: 0px;
    padding: 0px;
}

table.field-list td {
    margin-left: 30px;
}

table.field-list strong {
    font-family: monospace,sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 0.95em;
    color: #7b603c;
}

dl.gattribute dt {
    white-space: nowrap;
    display: inline-block;
    min-width: 20%;
}

dl.gattribute dd {
    display: inline;
    margin-left: 3px;
}

dl.gattribute dd p {
    margin-top: 3px;
    margin-left: 30px;
    margin-bottom: 0px;
}

dl.gattribute dd p:first-child {
    display: inline-block;
    margin: 0px;
}

dl.method dt,
dl.class dt,
dl.function dt,
dl.exception dt {
    padding-left: 5em;
    text-indent: -5em;
}


dl.function dt em,
dl.fuction dt span.sig-paren,
dl.method dt em,
dl.method dt span.sig-paren,
dl.class dt em,
dl.class dt span.sig-paren,
dl.exception dt em,
dl.exception dt span.sig-paren {
    font-family: monospace,sans-serif;
    font-style: normal;
    font-size: 100%;
    color: #7b603c;
}

div.body img {
    box-shadow: none;
}

dl.function, dl.class, dl.exception {
    border-bottom: 1px solid #f0f0f0;
}

dl.function:last-child, dl.class:last-child, dl.exception:last-child {
    border-bottom: none;
}

dl.method, dl.attribute, dl.gattribute, dl.classmethod, dl.staticmethod {
    border-top: 1px solid #f0f0f0;
    padding-top: 15px;
}


div.footer {
    width: 100%;
    margin-top: 2em;
    text-align: center;
}

div.footer a:hover {
    color: #0095C4;
}

.refcount {
    color: #060;
}

.stableabi {
    color: #229;
}

div.sphinxsidebar,
.related a {
    font-family: "Lucida Grande",Arial,sans-serif;
}
pre, code, tt {
    font-family: monospace,sans-serif;
}

code.xref, a code {
    color: #204a87;
    font-weight: normal;
}

a code:hover {
    color: #0095C4;
}

div.related a {
    color: #204a87;
    font-weight: bold;
}

div.related a:hover {
    color: #204a87;
}


div.body a:hover {
    color: #204a87;
}

div.body pre {
    border: 1px solid #ddd;
    background-color: #ffffff;
    white-space: pre-wrap;
    /* css-3 */
    white-space: -moz-pre-wrap;
    /* Mozilla, since 1999 */
    white-space: -pre-wrap;
    /* Opera 4-6 */
    white-space: -o-pre-wrap;
    /* Opera 7 */
    word-wrap: break-word;
    /* Internet Explorer 5.5+ */
}

div.viewcode-block:target {
    background-color: #FFF4E6;
}
.toctree-l1 {
    font-size: 115%;
    padding: 3px 5px;
    margin: 5px 0;
}
.toctree-l1.current {
    background: white;
    border-radius: 5px;
}
.toctree-l1.current * {
}
.toctree-l1 li {
    list-style: circle;
}
.toctree-l1.current > a:first-child,
.toctree-l2.current > a:first-child,
.toctree-l3.current > a:first-child {
    font-weight: bold;
}
.toctree-l2.current,
.toctree-l3.current {
    list-style: disc;
}
.toctree-l2.current,
.toctree-l2.current * {
    color: #000;
}
pre, table, img {
    box-shadow: 1px 1px 3px #efefef;
}
.sphinxsidebar {
    box-shadow: 0px 0px 2px #999;
}
img, div.figure {
    margin: 5px auto 7px auto;
    display: block;
    max-width: 100%;
}

div.figure {
    border-radius: 3px;
}

img:active {
    max-width: inherit;
}
div.figure p.caption {
    text-align: center;
}
img.math {
    box-shadow: none;
    margin: 0;
    display: inline-block;
}
div.figure img,
p > img,
li > img {
    display: inline-block;
    box-shadow: none;
    vertical-align: middle;
}

h1, h2, h3, h4, h5, h6 {
    font-weight: bold;
    color: #333;
}

code, tt {
    background: none;
    font-weight: normal;
    text-shadow: none;
    color: #7b603c;

}

p code.docutils.literal {
    padding: 0px 1px;
}
p code.docutils.xref {
    background: none;
    padding: 0;
}

div.sphinxsidebarwrapper > ul > li > ul > li {
    margin: 0.4em 0 0 0;
}
div.related {
    line-height: normal;
}

div.related li.responsive-menu {
    display: none;
    margin-right: 5px;
}

div.related ul {
    display: block;
    padding-left: 5px;
    margin: 5px;
}

div.related li.responsive-menu a {
    font-size: 200%;
    background: #00B0E4;
    color: white;
    border-radius: 3px;
    padding: 0 4px;
}

div.related li.responsive-menu a:hover {
    text-decoration: none;
    color: #30306f;
}


div.related li {
    vertical-align: middle;
}

li.right {
    margin-top: -15px;
}

div.related:first-child li.right {
    display: none;
}




@media only screen and (max-width: 1024px) {
    div.related:first-child li.responsive-menu {
        display: inline-block;
    }
    div.related:nth-child(3) li {
        display: none;
    }
    div.related:nth-child(3) li.right {
        display: inline-block;
    }
    div.related:nth-child(3) {
        height: 5ex;
    }
    div.sphinxsidebar {
        margin: 0;
        width: 100%;
        border-top: 2px solid #777;
    }
    div.bodywrapper {
        margin: 0;
    }
    div.body {
        padding: 0;
    }
    #sidebarbutton {
        display: none;
    }
    div.sphinxsidebarwrapper {
        position: inherit;
    }
}
.odd-headings .row-odd td, .odd-headings .row-odd th {
    font-weight: bold;
    background: #eee;
}
.highlights {
    font-size: 135%;
    font-style: italic;
    color: #999;
    text-align: center;
}
.highlight  {
    /* seems there some nasty rules in pygments.css, that shouldn't set any background! */
    background: inherit !important;
}
/* correct argument descriptions for reference sections */
.field-body li > p:first-of-type {
    display: inline-block;
}
.field-body li > p {
    margin: 1ex 0;
}

div.badge a {
    overflow: hidden;
    text-indent: -100px;
    position: absolute;
    right: -50px;
    top: 40px;
    display: block;
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
    width: 230px;
    height: 33px;
}
div.badge img {
    box-shadow: none;
    margin: 0;
    border: 0;
    width: 149px;
    height: 149px;
}
.badge {
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
    width: 149px;
    height: 149px;
}

span.viewcode-link {
    float: none;
    padding-left: 0.5em;
    padding-right: 0.5em;
    color: #bfd0e6;
    visibility: hidden;
}

span.viewcode-link a:hover {
    text-decoration: none;
}

dt:hover  span.viewcode-link,
div.code-block-caption:hover  span.viewcode-link {
    visibility: visible;
}

div.keywords span, span.tag {
	border: 1px solid #cfbc9b;
	padding: 0.075em 0.3em;
	display: inline-block;
	margin: .5em .1em;
	border-radius: 3px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.2);
	background-color: #f2e6ca;
	color: #333;
	font-size: 90%;
}

div.keywords {
    margin-top: 1em;
    margin-bottom: 1em;
}

span.tag i.fa {
    padding-right: .4em;
}

div.highlight pre {
    background-color: #fbf6e6;
    border: 1px solid #e4dbbf;
    border-radius: 3px;
}

div.literal-block-wrapper {
    padding: 0px;
}

div.literal-block-wrapper div.code-block-caption {
    color: #333333;
    border: 1px solid #e4dbbf;
    border-bottom: 1px dashed #c2b796;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    background-color: #fbf6e6;
    background-color: #ede6cf;
    box-shadow: 1px 1px 3px #efefef;
}

div.literal-block-wrapper pre {
    border-top-width: 0px;
    border-top-left-radius: 0px;
    border-top-right-radius: 0px;
}




img.pyrocko-button {
    height: 28px;
    cursor: pointer;
    box-shadow: none;
    display: inline;
    margin: 0;
    padding-right: 5px;
}